@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px; }

body {
  background-color: darkgray; }

@font-face {
  body {
    font-family: sagittaria;
    src: url("../fonts/sagittaria FREE.ttf"); } }

header {
  background-color: whitesmoke;
  width: 100%;
  height: 50px;
  padding: 20px;
  text-align: center; }

/* titulo de los artistas*/
.menu nav ul li {
  float: left;
  list-style: none;
  margin: 10px; }

/* menu de la pagina*/
nav {
  background-color: black;
  color: white;
  border: 2px solid black;
  height: 50px; }

/* fondo del menu de la pagina*/
img {
  height: 300px;
  padding: 10px; }

/* tamaño de imagenes*/
.biografiaa {
  grid-column: 2/3;
  float: right;
  background-color: lightslategrey;
  padding: 10px; }
  .biografiaa .biografia {
    width: 300px;
    height: 110px;
    padding: 20px; }

/*biografia*/
h2 {
  grid-column: 1/3;
  background-color: lightslategrey;
  width: 200px;
  width: 400px;
  padding: 20px;
  text-align: left; }

/*titulo obras*/
/* klimt */
.obraklimt {
  display: grid;
  grid-template-rows: auto auto auto auto; }
  .obraklimt .k {
    padding: 10px;
    float: right; }
  .obraklimt .imgob {
    float: left; }

.descripcionobras {
  background-color: silver;
  color: black;
  border: none;
  height: auto;
  padding-left: 10px; }

a {
  text-decoration: none;
  color: white; }

@media (max-width: 576px) {
  .menu nav ul li {
    float: left;
    list-style: none;
    margin: 10px; }
  nav {
    width: 100%; }
  header {
    width: 100%; }
  .artista5em {
    justify-content: center; }
  .obramunch {
    flex-direction: row;
    float: left; }
  .artista4pp {
    justify-content: center; }
  .artista2gk {
    justify-content: center; }
  .biografiaa {
    height: 480px;
    background-color: lightslategrey;
    padding: 10px;
    margin-top: 3px;
    float: left;
    height: auto; }
  .obrapicasso {
    flex-direction: row;
    float: left; }
  .obraklimt {
    flex-direction: row;
    float: left;
    width: max-content; }
    .obraklimt .imgob {
      width: max-content; }
    .obraklimt .artista6ld {
      justify-content: center; }
    .obraklimt .obradavinci {
      flex-direction: row;
      float: left; }
  .descripcionobras {
    background-color: silver;
    color: black;
    border: none;
    height: auto;
    width: min-content;
    padding-left: 10px;
    display: grid;
    grid-row: none; }
  .k {
    display: grid;
    grid-row: none;
    width: 400px;
    padding-left: 20px; }
  .h4 {
    text-align: center;
    height: auto;
    font-size: large; }
  .paginadeinicio .pagina {
    text-align: center;
    font-size: 60px; }
  .seleccioncuadrado {
    display: grid;
    justify-content: center; }
  .gridobran {
    display: flex;
    flex-direction: row;
    margin: 1px; }
  .gridobram {
    display: flex;
    flex-direction: row;
    margin: 1px; }
  .gridobrau {
    display: flex;
    flex-direction: row;
    margin: 1px; }
  .gridobrag {
    display: flex;
    flex-direction: row;
    margin: 1px; }
  .gridobraeln {
    display: flex;
    flex-direction: row;
    margin: 1px; }
  .gridobragr {
    display: flex;
    flex-direction: row; }
  .gridobraeb {
    display: flex;
    flex-direction: row; }
  .gridobrac {
    display: flex;
    flex-direction: row; }
  .obrasimg {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-row: none;
    height: 200px; }
  .descripcion {
    display: inline-block; }
  .pintor {
    display: inline-block;
    position: absolute;
    color: #353535;
    padding-left: 10px;
    height: max-content; }
  .i {
    justify-content: center;
    text-align: center; } }

@media (min-width: 576px) {
  .menu nav {
    display: flex;
    justify-content: center; }
  .seleccioncuadrado {
    display: grid;
    justify-content: center; }
  .cuadrado1 {
    display: flex;
    flex-direction: row; }
  .cuadrado2 {
    display: flex;
    flex-direction: row; }
  .redes {
    display: flex;
    flex-direction: column; } }

/* picasso */
.obrapicasso {
  display: grid;
  grid-template-rows: auto auto auto auto;
  margin: 10px; }
  .obrapicasso .imgob {
    float: left; }

/* munch */
.obramunch {
  display: grid;
  grid-template-rows: auto auto auto auto;
  margin: 10px; }
  .obramunch .imgob {
    float: left; }

/* da vinci */
.obradavinci {
  display: grid;
  grid-template-rows: auto auto auto auto;
  margin: 10px; }
  .obradavinci .imgob {
    float: left; }

/*index*/
.index {
  background-color: #172121; }

.h5 {
  text-align: center;
  font-size: large;
  padding: 10px;
  color: beige;
  background-color: black; }

.paginadeinicio {
  color: white;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  padding: 5px; }

/*bloque del titulo*/
.pagina {
  grid-column: 1/5;
  text-align: center;
  font-size: 60px;
  padding: 100px; }

/*titulo*/
.menudenavegacion ul li {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  list-style: none; }

/*menu*/
/*seleccion de artista*/
nav ul li a {
  color: white;
  text-decoration: none; }

.selecciondeartistas {
  background-color: #A9A9A9; }

.seleccioncuadrado {
  justify-content: center; }

.cuadrado1 {
  padding: 5px;
  width: 400px;
  height: 400px; }
  .cuadrado1 .cuadradoimg1 {
    width: 400px;
    height: 400px; }

.cuadrado2 {
  padding: 5px;
  width: 400px;
  height: 400px; }
  .cuadrado2 .cuadradoimg2 {
    width: 400px;
    height: 400px; }

.titulo {
  background-color: whitesmoke;
  width: auto;
  padding: 10px;
  text-align: center; }

/*contacto*/
.contactoinput {
  padding: 5px;
  border-radius: 2px solid black;
  margin: 5px; }

.enviar {
  margin: 15px; }

.boton {
  padding: 5px; }

.descripcion {
  padding: 5px; }

.indicacion {
  padding: 10px; }

/*obras destacadas*/
a {
  text-decoration: none;
  color: white; }

.pintor {
  display: inline-block;
  position: absolute;
  color: #353535;
  padding: 10px;
  height: max-content; }

.i {
  justify-content: center;
  text-align: center;
  width: 100%vh;
  background-color: #838c8c; }

.obrasimg {
  float: left; }

.gridtodaslasobras {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto; }

.gridobran {
  justify-content: left;
  /*bloque*/ }
  .gridobran .nocheestrellada {
    margin: 16px; }

.gridobram {
  justify-content: left;
  /*bloque*/
  /*imagen*/ }
  .gridobram .monalisa {
    margin: 16px; }
  .gridobram .imgmonalisa {
    float: left; }

.gridobrau {
  justify-content: left;
  /*bloque*/ }
  .gridobrau .ultimacena {
    margin: 16px; }

.gridobrag {
  justify-content: left;
  /*bloque*/ }
  .gridobrag .guernica {
    margin: 16px; }

.gridobraeln {
  justify-content: left;
  /*bloque*/ }
  .gridobraeln .elnacimiento {
    margin: 16px; }

.gridobragr {
  justify-content: left;
  /*bloque*/ }
  .gridobragr .grito {
    margin: 16px; }

.gridobraeb {
  justify-content: left;
  /*bloque*/ }
  .gridobraeb .elbeso {
    margin: 16px; }

.gridobrac {
  justify-content: left;
  margin: 10px;
  /*bloque*/ }
  .gridobrac .creacion {
    margin: 16px; }

.descripcion {
  padding-top: 30px;
  flex-direction: column; }

/*texto*/
.redes {
  background-color: black;
  color: beige;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column; }
  .redes .abajo {
    text-align: center;
    color: beige;
    padding-top: 5px; }
  .redes .ig {
    text-align: center;
    color: #446465;
    padding-top: 5px; }
  .redes .tw {
    text-align: center;
    padding-top: 5px;
    color: #446465; }
  .redes .arrobaig {
    text-align: center; }
  .redes .usertw {
    text-align: center; }
