/*artista*/


* {
    margin: 0px;
    padding: opx;
}



body {
    background-color: darkgray;

    @font-face {
        font-family: sagittaria;
        src: url(../fonts/sagittaria\ FREE.ttf);
    }

    height: 800px;
    padding: 5px;
}

/* Tipo de fuente */



header {
    background-color: whitesmoke;
    width: auto;
    height: 50px;
    padding: 20px;
    text-align: center;
}

/* titulo*/



.menu nav ul li {
    float: left;
    list-style: none;
    margin: 10px;
}

/* menu de la pagina*/

nav {
    background-color: black;
    color: white;
    border: 1px solid black;
    height: 50px;
}

/* fondo del menu de la pagina*/




img {
    height: 300px;
    padding: 10px;
}

/* tamaño de imagenes*/


.grid {
    display: grid;
    padding: 20px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;


}

.biografiavg {
    grid-column: 2/3;
    float: right;
    height: 480px;
    background-color: lightslategrey;
    padding: 10px;

}

/*fondo de la biografia*/


.biografia {
    width: 300px;
    height: 110px;
    padding: 20px;
}

/*texto de la biografia*/



h2 {
    grid-column: 1/3;
    background-color: lightslategrey;
    width: 200px;
    width: 400px;
    padding: 20px;
    text-align: left;
}

/*titulo obras*/




.obran {
    grid-column: 1/2;
    grid-row: 3/4;
    height: 430px;
    width: 900px;
    padding: 10px;
}

/*bloque de la primera obra*/

img .nn {
    width: 100px;
    height: 100px;
}

/*imagen de la primera obra*/

.n {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    float: right;
    width: 400px;
    height: 350px;
    padding: 10px;
}

/*texto de la primera obra*/



.obrag {
    grid-column: 1/2;

    height: 430px;
    width: 900px;
    padding: 10px;
}

/*bloque de la segunda obra*/

img .gg {
    width: 100px;
    height: 100px;
}

/*imagen de la segunda obra*/

.g {
    margin: 5px;
    border: 1px solid black;
    float: right;
    width: 400px;
    height: 350px;
    padding: 20px;
    
}

/*texto de la segunda obra*/



.obrah {
    grid-column: 1/2;
    height: 430px;
    width: 900px;
    padding: 10px;
}

/*bloque de la tercera obra*/

img .hh {
    width: 100px;
    height: 100px;
}

/*imagen de la tercera obra*/

.h {
    border: 1px solid black;
    float: right;
    width: 400px;
    height: 350px;
    padding: 20px;
}

/*texto de la tercera obra*/



.obrae {
    grid-column: 1/2;
    grid-row: 2/3;
    height: 430px;
    width: 900px;
    padding: 10px;
}

/*bloque de la cuarta obra*/

img .ee {
    width: 50px;
    height: 50px;
}

/*imagen de la cuarta obra*/

.e {
    border: 1px solid black;
    float: right;
    width: 300px;
    height: 250px;
    padding: 20px;
}

/*texto de la cuarta obra*/




footer {

    display: inline;
    float: right;
}















/*index*/


/* .gridindex{
display: grid;
background-color: blueviolet;
padding: 20px;
grid-template-columns: auto auto;
grid-template-rows: auto auto; */

/* } */


.paginadeinicio {
    height: 250px;
    padding: 5px;

}

/*toda la pagina*/


.pagina {
    float: right;
    text-align: center;
    width: 400px;
    padding: 100px;


}

/*titulo*/

/* .moon { */
/* width: 50px; */
/* height: 50px; */
/* text-align: center; */
/* }imagen */


.menudenavegacion ul li {
    grid-column: 1/2;
    grid-row: 2/3;
    height: 20px;
    width: 150px;
}

/*menu*/

.navegacion {
    width: 400px;
    height: 280px;
    
}

/*bloque del menu*/













/*seleccion de artista*/

.gridseleccion{
    display: grid;
    padding: 20px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
}

.art{
    width: 500px;
    height: 450px;
    padding: 20px;
}


.titulo {
    background-color: whitesmoke;
    width: auto;
    padding: 20px;
    text-align: center;
    
}

/*seleccion de artista*/

.artistas {
    text-align: center;
}

/*bloque completo*/

.center {
    width: auto;
    height: 50px;
    border: 5px;
    text-align: center;
    border: 2px solid black;
}

/*nombre de los artistas*/











/*contacto*/

.descripcion {
    padding: 15px;
}

.indicacion {
    padding: 10px;
}













/*obras destacadas*/

/* .gridobras{
    display: grid;
    padding: 20px;
    grid-template-rows: auto auto auto auto;
} */


.a {
    width: 1300px;
    height: 300px;
    justify-content: right;
}

/*texto de la derecha*/

.b {
    width: 1200px;
    height: 300px;
    justify-content: left;
}

/*texto de la izquierda*/


.nocheestrellada {
    height: 400px;
    width: 1200px;
    padding: 10px;
}

/*bloque*/


.imgnocheestrellada {
    float: left;
}

/*imagen*/


.monalisa {
    height: 400px;
    width: 800px;
    padding: 10px;
}

/*bloque*/


.imgmonalisa {
    float: right;
}

/*imagen*/


.ultimacena {
    height: 400px;
    width: 800px;
    padding: 10px;
}

/*bloque*/

.imgcena {
    float: left;
}

/*imagen*/


.guernica {
    height: 400px;
    width: 800px;
    padding: 10px;
}

/*bloque*/

.imgguernica {
    float: right;
}

/*imagen*/


.elnacimiento {
    height: 400px;
    width: 800px;
    padding: 10px;
}

/*bloque*/

.imgnacimiento {
    float: left;
}

/*imagen*/

.grito {
    height: 400px;
    width: 800px;
    padding: 10px;
}

/*bloque*/

.imggrito {
    float: right;
}

/*imagen*/


.elbeso {
    height: 400px;
    width: 800px;
    padding: 10px;
}

/*bloque*/

.imgbeso {
    float: left;

}

/*imagen*/


.creacion {
    height: 400px;
    width: 1100px;
    padding: 10px;
}

/*bloque*/

.imgcreacion {
    float: right;
}

/*imagen*/