/*obras destacadas*/


.gridobran {
    display: grid;

    grid-template-rows: auto;
    justify-content: left;

    .nocheestrellada {
        height: 400px;
        width: 1200px;
        padding: 10px;
    }

    /*bloque*/


    .imgnocheestrellada {
        float: left;
    }

    /*imagen*/


}

.gridobram {
    display: grid;
    grid-template-rows: auto;
    justify-content: right;

    .monalisa {
        height: 400px;
        width: 800px;
        padding: 10px;
    }

    /*bloque*/


    .imgmonalisa {
        float: right;
    }

    /*imagen*/
}

.gridobrau {
    display: grid;
    grid-template-rows: auto;
    justify-content: left;

    .ultimacena {
        height: 400px;
        width: 800px;
        padding: 10px;
    }

    /*bloque*/

    .imgcena {
        float: left;
    }

    /*imagen*/
}

.gridobrag {
    display: grid;
    grid-template-rows: auto;
    justify-content: right;

    .guernica {
        height: 400px;
        width: 800px;
        padding: 10px;
    }

    /*bloque*/

    .imgguernica {
        float: right;
    }

    /*imagen*/
}

.gridobraeln {
    display: grid;
    grid-template-rows: auto;
    justify-content: left;

    .elnacimiento {
        height: 400px;
        width: 800px;
        padding: 10px;
    }

    /*bloque*/

    .imgnacimiento {
        float: left;
    }

    /*imagen*/
}

.gridobragr {
    display: grid;

    grid-template-rows: auto;
    justify-content: right;

    .grito {
        height: 400px;
        width: 800px;
        padding: 10px;
    }

    /*bloque*/

    .imggrito {
        float: right;
    }

    /*imagen*/
}

.gridobraeb {
    display: grid;

    grid-template-rows: auto;
    justify-content: left;

    .elbeso {
        height: 400px;
        width: 800px;
        padding: 10px;
    }

    /*bloque*/

    .imgbeso {
        float: left;
    }

    /*imagen*/
}

.gridobrac {
    display: grid;

    grid-template-rows: auto;
    justify-content: right;

    .creacion {
        height: 400px;
        width: 1100px;
        padding: 10px;
    }

    /*bloque*/

    .imgcreacion {
        float: right;
    }

    /*imagen*/
}


.a {
    width: 1300px;
    height: 300px;
    justify-content: right;

}

/*texto de la derecha*/

.b {
    width: 1200px;
    height: 300px;
    justify-content: left;
}

// texto de la izquierda